/* src/pages/HomePage.module.css */

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homePage h1 {
    margin-bottom: 20px;
  }
  
  .homePage .lists {
    width: 100%;
  }
  .filterContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  .filterDropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  