/* src/components/ShoppingListForm.module.css */

.formContainer {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer input, .formContainer textarea {
    margin-bottom: 10px;
  }
  
  .formContainer button {
    margin-top: 10px;
  }
  